h1 {
  font-family: "Rift Soft", sans-serif;
  font-weight: bold;
  font-size: 16.5rem;
  text-align: center;
  color: white;
  margin: 1rem;
  margin-top: 5rem;
  text-shadow: 3px 4px 10px rgba(0,0,0, .5);
}

