<div class = "box">
    <app-auth-box-title title="SIGN UP"></app-auth-box-title>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-mail address" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid e-mail.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    <app-home-btn></app-home-btn>
    </form>
</div>
