<div class="box">
  <h2>Your resources:</h2>
  <ul>
    <li><a href="https://www.udemy.com/angular-2-and-nodejs-the-practical-guide/learn/v4/overview">Angular and NodeJS - The MEAN Stack Guide</a></li>
    <li><a href="https://app.pluralsight.com/paths/skills/angular">Pluralsight Angular Path</a></li>
  </ul>
  <hr>
  <h2>What are you working on?</h2>
  <ul>
    <li><a href="https://github.com/wntitus/studyhive">StudyHive Github</a></li>
  </ul>
  <hr>
  <h2>What do you want to accomplish by learning this?</h2>
  <hr>
  <h2>Notes:</h2>
  <hr>
  <app-home-btn></app-home-btn>
</div>
